<main class="page registration-page">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Modification profil</h2>
            </div>
            <form action="/User/editUser/{{ user.id }}" method="POST">
                <input type="hidden" value="{{ user.id }}" name="id">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control item" type="text" id="email" name="email" value="{{ user.email }}">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control item" type="password" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="firstname">Firstname</label>
                    <input class="form-control item" type="text" id="firstname" name="firstname" value="{{ user.firstname }}">
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname</label>
                    <input class="form-control item" type="text" id="lastname" name="lastname" value="{{ user.lastname }}">
                </div>
                <input class="btn btn-primary btn-block" type="submit" value="Validate">
                <button type="button"class="btn btn-primary btn-block"><a href="/user/showUser/{{ user.id }}" style="color: white">Back</a></button>
            </form>
        </div>
    </section>
</main>
